a, .fbRemindersTitle, .fbReminders strong, .fbNub._50mz.highlightTab .fbNubButton, ._5a5j ._5a4- {
	color: #333 !important;
}

.fbNub._50mz .fbNubFlyoutTitlebar {
	color: #777 !important;
}

button, ._1nc6 ._d97, ._2s1x ._2s1y, ._5vsj .UFIRow.UFIUnseenItem:after, ._38de {
	background-color: #333 !important;
}

._5ugg, ._3z_5, ._2nlt, ._3olv._2nlt, ._55lp span {
	background-color: #777777 !important;
}

._5v0s, .fwb, ._4l_v span {
	color: #333 !important;
}

._4jy1, ._4kny ._585- {
	border-color: black !important;
}

._4kny a, .ego_action button {
	color: white !important;
}

._5afz {
	color: black !important;
}
img, ._9zc ._2p78._2p78, ._m_1 ._4a0a, ._2p79, ._9-y, .fbReminders .fbRemindersIcon, .imgWrap i, ._5r69, .sp_x-YammR-ziv_2x.sx_38cafb, ._4x9_._48-k.UFILinkBright::before, ._sa_ ._48-k.UFILinkBright::before, .sp_eYptPhLV8iL_2x.sx_79c0c3, i.img {
	filter: grayscale(100%) !important;
}

path {
	fill: #333 !important;
}